
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
   

  <body>
    <!-- Navigation -->
   <div th:replace="common/navbar :: common-navbar" ></div>

      <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="jumbotron">

                    <div class="text-center">

                        <h1 th:text="#{payload.h1.text}" ></h1>

                        <p class="lead" th:text="#{payload.p.lead}" />

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div th:replace="common/header :: before-body-scripts"></div>
  </body>

</html>
